
.nav-menu-desktop .megamenu-wp .mega-item .mega-content .mega-widget .tophive-mm-widget a{
	display: block;
}
.tophive-rich-text-block{
    display: flex;
    padding: 20px;
    border-radius: 3px;
    align-items: center;
    transition: all 0.4s ease;
}

.tophive-rich-text-block .tophive-rich-text-image{
    vertical-align: middle;
}
.tophive-rich-text-block .tophive-rich-text-image img{
    max-width: 80px;
    padding-right: 17px;
}
body.rtl .tophive-rich-text-block .tophive-rich-text-image img{
    padding-right: 0px;
    padding-left: 17px;

}
.tophive-rich-text-block .tophive-rich-text-content .ec-badge{
    background: #2FCF8F;
    color: #fff;
    font-size: 10px;
    padding: 2px 8px;
    line-height: 7px;
    border-radius: 30px;
    display: inline;
    font-weight: 700;
    position: relative;
    top: -3px;
}
body.rtl .tophive-rich-text-block .tophive-rich-text-content .ec-badge{
    margin-left: 0px;
    top: 0px;
}
.tophive-rich-text-block .tophive-rich-text-content h3 span+.ec-badge{
    margin-left: 8px;
}
body.rtl .tophive-rich-text-block .tophive-rich-text-content h3 span+.ec-badge{
    margin-right: 8px;
}
.tophive-rich-text-block .tophive-rich-text-content h3{
    font-size: 17px;
    font-weight: 600;
    color: #777;
    margin-bottom: 3px;
    transition: all 0.4s ease;
}
.tophive-rich-text-block .tophive-rich-text-content p{
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 0px;    
    transition: all 0.4s ease;
}
.nav-menu-mobile .menu li .tophive-mm-widget a{
	padding: 0;
}
.nav-menu-mobile .menu li .tophive-mm-widget a .tophive-rich-text-block{
	margin: 0 !important;
}
.nav-menu-desktop .mega-col .mega-widget:not(:first-child) .tophive-mm-widget{
    margin-top: -1.5em;
}

.nav-menu-desktop .megamenu-wp .mega-item .mega-content .mega-element.mega-menu-item:last-child{
    margin-bottom: 1.5em;
}
/*------------- RECENT POST WIDGET ---------------*/
.tophive-mc-recent-post-widget .th-post-widget-thumb img{
	width: 100%;
}
.tophive-mc-recent-post-widget .th-post-widget-thumb{
	height: 70px;
	overflow: hidden;
	border-radius: 10px;
}
.tophive-mc-recent-post-widget .display-more-none .mc-blog-readmore{
    display: none;
}
.tophive-mc-recent-post-widget .display-date-none .widget-blog-date{
    display: none;
}
.tophive-mc-recent-post-widget .th-post-widget-thumb.th-post-widget-big-thumb{
    height: auto;
}
.tophive-mc-recent-post-widget span.mc-blog-readmore{
	font-weight: bold;
    font-size: 14px;
    opacity: 0.5;
}
.tophive-mc-recent-post-widget h6, 
.tophive-mc-recent-post-widget h6 small{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
}
.tophive-mc-recent-post-widget p.widget-blog-date{
    line-height: 18px;
}
.nav-menu-desktop .megamenu-wp .mega-item .mega-content .widget a h3,
.nav-menu-desktop .megamenu-wp .mega-item .mega-content .widget a h4,
.nav-menu-desktop .megamenu-wp .mega-item .mega-content .widget a h5,
.nav-menu-desktop .megamenu-wp .mega-item .mega-content .widget a h6,
.mega-widget .tophive-mc-recent-post-widget a{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.tophive-mc-recent-post-widget span.mc-blog-readmore i{
	font-size: 11px;
    padding: 0px;
    vertical-align: middle;
    opacity: 0;
    transition: all 0.4s ease;
}
.tophive-mc-recent-post-widget .th-blog-big-head{
    margin-bottom: 10px;
}
.tophive-mc-recent-post-widget h5,
.tophive-mc-recent-post-widget h6{
    transition: all 0.4s ease;
}
.tophive-mc-recent-post-widget .th-blog-big-head h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.tophive-mc-recent-post-widget p{
    color: initial;
}
.tophive-mc-recent-post-widget span.mc-blog-readmore:hover{
    opacity: 1;
}
.tophive-mc-recent-post-widget span.mc-blog-readmore:hover i{
    padding: 10px;
    opacity: 1;
}
.ec-container-mega-widget{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.mega-widget .tophive-mc-recent-post-widget .th-post-widget-thumb.th-post-widget-big-thumb{
    height: auto;
}
.newsletter-submit-form{
    position: relative;
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form input{
    background: transparent;
    height: 45px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    font-size: 12px;
    padding: 0 19px;
    color: #ddd;
    border-radius: 4px;
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000;
    padding: 10px 15px;
    height: 101%;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
}
body.rtl .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit{
    left: 0;
    right: auto;
    transform: translateY(-50%) rotate(180deg);
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit svg:last-of-type{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-110%);
    left: 50%;
    transition: all 0.4s ease;
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit.mc-loading svg:last-of-type{
    transform: translateY(-50%) translateX(-50%);
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit svg:first-of-type{
    transition: all 0.4s ease;
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit.mc-loading svg:first-of-type{
    transform: translateX(210%);
}
body .tophive-mc-mchimp-subs-widget .newsletter-submit-form .newsletter-submit:hover{
    padding: 10px 10px 10px 20px;
}

/* ===============================
      Profile Card Widget
=============================== */
/* no gap card */
.buddypress .widget:has(.widget-profile-container) {
    overflow: hidden;
    border-radius: var(--radius) !important;
    padding: 0;
    background: var(--white);
    margin-bottom: 1em !important;
}
/* container wrap */
.widget .widget-profile-container {
  margin: 0;
  padding: 10px;
}

/* profile banner */
.widget .widget-profile-container .widget-profile-banner {
  position: relative;

  margin-inline: calc(14px * -1);
  margin-block-start: calc(14px * -1);

  figure {
    margin: 0;
  }

  figure img {
    width: 100%;
    height: 150px;

    object-fit: cover;
    border-radius: 10px;
  }

  > img:last-child {
    position: absolute;
    bottom: -10px;
    left: 10px;

    width: 70px;
    height: 70px;

    object-fit: cover;
    border: 2px solid var(--white);
    border-radius: 50%;
  }
}

/* profile name */
.widget .widget-profile-container .widget-profile-name {
  margin-top: 15px;
  min-height: 0;

  a {
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-900);
    text-decoration: none;

    &:hover {
      color: var(--brand-color);
      /* hover shade */
      transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }
  }
}

/* profile location */
.widget-profile-container .widget-profile-location {
  display: flex;
  align-items: center;
  gap: 6px;

  margin-top: 4px;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--color-border);

  p {
    font-size: var(--font-13);
    color: var(--gray-500);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;

    /* location icon */
    svg {
      width: 14px;
      height: 14px;
      fill: var(--gray-400);
    }
  }
}

/* profile designation */
.widget .widget-profile-container .widget-profile-designation {
  margin-top: 0;

  p {
    font-size: var(--font-12);
    color: var(--gray-800);
  }
}

/* meta info */
.widget .widget-profile-container .widget-profile-meta-info {
  display: flex;
  gap: 20px;

  margin: 20px 0 0;
  padding: 10px 0;
  border-top: 1px dashed var(--color-border);
  border-bottom: 1px dashed var(--color-border);

  p {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    padding-inline: 20px;
    margin: 0;
    font-size: var(--font-12);
    font-weight: 500;
    border-right: 1px solid var(--color-border);

    span:first-child {
      font-size: var(--font-16);
      font-weight: 600;
      color: var(--gray-900);
    }

    &:first-child { padding-inline-start: 0; }
    &:last-child { border-right: none; }
  }
}

/* profile about */
.widget .widget-profile-container .widget-profile-about {
  margin-top: 12px;

  h4 {
    font-size: var(--font-14);
    color: var(--gray-700);
  }
  p {
    font-size: var(--font-13);
    margin: 0;
  }
}

/* forums data */
.widget .forum_meta_info_con {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: var(--btn-radius);
  background: var(--gray-100);
  border: none;
}

.widget .forum_meta_info_con {
  & p {
    margin: 0;

    span:first-child {
      font-size: var(--font-16);
      font-weight: 600;
      color: var(--gray-900);
    }
  }
}

/* profile action btns */
.widget .widget-profile-container .widget-profile-action-btns {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  margin-top: 10px;

  /* tab button */
  a.bp-profile-link {
    display: flex;
    align-items: center;
    gap: 5px;
  
    padding: 4px 10px;
    border-radius: var(--btn-radius);
    
    font-size: var(--font-12);
    font-weight: 500;
    color: var(--gray-900);
  
    background-color: var(--gray-200);
    /* Prevent flicker: no transition by default */
    transition: none;

    /* hover */
    &:hover {
      background-color: var(--brand-color-secondary);
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* icon */
    & svg {
      width: 16px;
      height: 16px;
    }
  }
  
}
/* ➝ end profile card ═══════ */
