//make mega menu container z-index higher
//otherwise making only mega-menu z-index higher will not work
//most of the time mega menu will be inside global menu container
//this will fix mega menu popover place under other element
.tophive-header:has(.mega-menu),
.e-con-inner:has(.mega-menu) {
  position: relative;
  z-index: 9999;
}

.mega-menu {
  .globalNav {
    perspective: 2000px;
    display: none;

    @media (min-width: 769px) {
      display: block;
    }

    .navSection.primary {
      display: flex;
      justify-content: center;
    }

    .rootLink {
      display: inline-block;
      color: #000;
      /* cursor: pointer; */
      /* height: 50px; */
      /* white-space: nowrap; */
      /* user-select: none; */
      font-size: 17px;
      line-height: 50px;
      font-weight: 400;
      cursor: pointer;
      /* margin: 0; */
      padding: 0 10px;
    }

    .hasDropdown {
      cursor: default;
    }

    .dropdownRoot {
      position: absolute;
      z-index: 1000;
      left: 0;
      right: 0;
      top: var(--root-link-line-height, 50px);
      pointer-events: none;
      transform: rotateX(-15deg);
      transform-origin: 50% -50px;
      opacity: 0;
      will-change: transform, opacity;
      transition-property: transform, opacity;
      transition-duration: 0.25s;
      display: block;
    }

    &.dropdownActive .dropdownRoot {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }

    .dropdownBackground {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
      box-shadow:
        0 50px 100px rgba(50, 50, 93, 0.1),
        0 15px 35px rgba(50, 50, 93, 0.15),
        0 5px 15px rgba(0, 0, 0, 0.1);
      width: 520px;
      height: 400px;
      transform: translateX(0);
      transform-origin: 0 0;
    }

    .dropdownBackground {
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform;
      transition-property: transform;
      transition-duration: 0.25s;
    }

    .dropdownArrow {
      top: -6px;
      margin: 0 0 0 -6px;
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      border-radius: 4px 0 0 0;
      background: #fff;
      box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
      will-change: transform;
      transition-property: transform;
    }

    .dropdownArrow,
    .dropdownContainer {
      position: absolute;
      left: 0;
      transition-duration: 0.25s;
    }

    .dropdownContainer {
      overflow: hidden;
      top: 0;
      transform: translateX(0);
      will-change: transform, width, height;
      transition-property: transform, width, height;
    }

    .dropdownSection {
      opacity: 0;
      pointer-events: none;
      will-change: transform, opacity;
      transition-property: transform, opacity;
      transition-duration: 0.25s;
    }

    .dropdownSection.active {
      opacity: 1;
      transform: translateX(0);
    }

    .dropdownSection.left {
      transform: translateX(-150px);
    }

    .dropdownSection.right {
      transform: translateX(150px);
    }

    &.dropdownActive .dropdownSection.active {
      pointer-events: auto;
    }

    &.noDropdownTransition .dropdownArrow,
    &.noDropdownTransition .dropdownBackground,
    &.noDropdownTransition .dropdownContainer,
    &.noDropdownTransition .dropdownSection {
      transition: none;
    }

    .dropdownContent {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.elementor-edit-mode .dropdownSection:not(.active) .dropdownContent {
  display: none;
}

.elementor-edit-mode .dropdownSection .dropdownContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#mega-menu-mobile,
#mobile-content-sidebar {
  display: none;
}

//responsive style
@media (max-width: 768px) {
  #mega-menu-mobile,
  #mobile-content-sidebar {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  #mobile-content-sidebar {
    --bg-color: #fff;
    --padding: 10px;
    --header-height: 50px;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    z-index: 99999999;
    overflow: hidden;
    overflow-y: auto;
    padding: var(--padding);
    transition: opacity 0.25s;
    opacity: 0;

    &.fade_way {
      opacity: 0;
    }

    &.fade_in {
      opacity: 1;
    }

    &.close {
      display: none;
    }

    &.open {
      display: block;
    }
  }

  .mobile-menu-content-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back {
      opacity: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .close {
      cursor: pointer;
    }
  }

  .mobile-menu-links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(66, 71, 112, 0.09),
          rgba(66, 71, 112, 0.09) 50%,
          transparent 0,
          transparent
        );
        background-size: 8px 1px;
      }
    }
  }

  .mobile-menu-content {
    position: absolute;
    inset: var(--header-height) var(--padding) var(--padding) var(--padding);
    transform: translateX(100vw);
    transition: transform;
    opacity: 0;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: 0.25s;

    & > *:not(.active) {
      display: none;
    }
  }

  .run_transition {
    .mobile-menu-content {
      transform: translateX(0);
      opacity: 1;
      background-color: var(--bg-color);
    }

    .mobile-menu-content-header {
      .back {
        opacity: 1;
      }
    }
  }
}
